<!DOCTYPE html>
<html>
<head>
  <title>FlexiSAF App Status Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
  <link rel="stylesheet" href="css/styles.css"  media="screen,projection"/>
  <link rel="stylesheet" href="css/font-awesome/css/font-awesome.min.css"  media="screen,projection"/>
  <script src="index.js"></script>
</head>
<body>
  <div>
    <nav class="teal darken-4">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Flexisaf Apps Status Page</a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn-flat modal-trigger white-text" href="#modal1">New App</a></li>
        </ul>
      </div>
    </nav>
    <div class="container content">
      <div class="row">
        <div class="col s10 m10 l10">
          <div id="modal1" class="modal container">
            <div class="modal-content">
              <div class="row">
                <div class="col s12">
                  <h3 class="center-align teal-text text-darken-4">Create New Flexisaf App</h3>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s6">
                  <input id="status-url" type="url">
                  <label for="url">Enter URL</label>
                </div>
                <div class="input-field col s6">
                  <input id="appName" type="text">
                  <label for="text">App Name</label>
                </div>
              </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn teal darken-4">Add
                    <i class="material-icons right">done_all</i>
                  </a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <% if (results.length > 0) { %>
      <table class="bordered z-depth-3">
        <thead>
          <tr>
            <th class="name"> Apps </th>
          </tr>
        </thead>
        <tbody>
          <% results.forEach(result => { %>
          <tr>
            <td><div class="name"><%= result.host %></div><% if (result.status === 'alive') { %>
              <div class="status alive"></div>
              <%} else { %>
              <div class="status dead"></div>
              <% } %></td>
            </tr>
            <% }) %>
          </tbody>

        </table>
        <% } %>


    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>$(document).ready(function(){
      $('.modal').modal();
      });
    </script>
</body>
</html>
