<!DOCTYPE html>
<html>
<head>
	<title></title>
	 <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


	<link rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
	<link rel="stylesheet" href="css/styles.css"  media="screen,projection"/>

	<script src="index.js"></script>

	<style type="text/css">
	</style>


</head>
<body>
	<nav class="teal darken-4">
	    <div class="nav-wrapper">
	    	<a href="#" class="brand-logo center ">Flexisaf</a>
	    </div>
	</nav>
	<div class="row">
      <div class="col s8 m8 l4">
      	<h5 class="safsms center">SAFSMS</h5>
      </div>
      <div class="col s1 m1 l1">
      	<div id="circle1"></div>
      	<span id="ping-guildbit"></span>
      </div>
    </div>
    <div class="row">
      <div class="col s8 m8 l4">
      	<h5 class="distinction center">SRMS Adsu</h5>
      </div>
      <div class="col s1 m1 l1">
      	<div id="circle2"></div>
      	<span id="ping-adsu"></span>
      </div>
    </div>
    <div class="row">
      <div class="col s8 m8 l4">
      	<h5 class="distinctionopera center">Distinction Opera</h5>
      </div>
      <div class="col s1 m1 l1">
      	<div id="circle3"></div>
      	<span id="ping-opera"></span>
      </div>
    </div>
</body>
</html>
