#circle1 {
    background: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#circle2 {
    background: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#circle3 {
    background: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
